@import "./utilities.scss";
// $main-color : #1EB7B2;
// $main-color-light : #39faf0;
// $main-color-dark : #1f746f;
.general-container {
    position: relative;
    
    .search_area {
        position: absolute;
        background: #faf;
        left: 50%;
        transform: translateX(50%);
        min-width: 200px;    }
}

@media (max-width: 576px){
    .Header1-2{
        background-color: #eaeaea;
        .general-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .img-div{
            display: inline-block;
            width: 150px;
            img{
                width: 100%;
            }
        }
        
        .log-and-cart{
            display: inline-flex;
            align-items: baseline;
            justify-content: space-around;
           
            .cart-div{
                display: inline-block;
                width: 35px;
                img{
                    width: 100%;
                }  
            }
        }
    }

}

@media (min-width: 577px) and (max-width: 1366px) {
    .Header1-2{
        background-color: #eaeaea;
        .general-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .img-div{
            display: inline-block;
            width: 150px;
            img{
                width: 100%;
            }
        }
        
        .log-and-cart{
            display: inline-flex;
            align-items: baseline;
            justify-content: space-around;
           
            .cart-div{
                display: inline-block;
                width: 35px;
                img{
                    width: 100%;
                }  
            }
        }
    }
}
@media (min-width: 1367px) {
    .Header1-2{
        background-color: #eaeaea;
        .general-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
        }
        .img-div{
            display: inline-block;
            width: 150px;
            img{
                width: 100%;
            }
        }
        
        .log-and-cart{
            display: inline-flex;
            align-items: baseline;
            justify-content: space-around;
           
            .cart-div{
                display: inline-flex;
                align-items: center;
                img{
                    width:60%
                }  
            }
        }
    }
}






// @media (min-width: 576px) and (min-width: 767px)  {

// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px)  and (min-width: 991px){

// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (min-width: 1199px) {

// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {

// }





  
  
  
  
  
  